.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

.ProseMirror p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1em;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 2em;
  margin-bottom: 1em;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 2em;
  margin-bottom: 1em;
}

.ProseMirror li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.ProseMirror li p {
  margin: 0;
}

.ProseMirror a {
  text-decoration: underline;
}

.ProseMirror img {
  @apply max-w-lg rounded border border-border;
}

.ProseMirror p.is-editor-empty:first-child::before,
.ProseMirror .node-image.is-empty .figcaption::before {
  content: attr(data-placeholder);
  pointer-events: none;
  float: left;
  height: 0;
  @apply text-muted-foreground;
}

.ProseMirror blockquote {
  @apply my-4 border-l-4 border-border pl-4 text-muted-foreground italic;
}
