@font-face {
  font-family: "Mabry Pro";
  src:
    url("https://assets.website-files.com/618da08965b16e150f4dcd59/618da0e60be74d08c15b0606_MabryPro-Regular.woff2")
      format("woff2"),
    url("https://assets.website-files.com/618da08965b16e150f4dcd59/618da0e6fd4847587798919c_MabryPro-Regular.eot")
      format("embedded-opentype"),
    url("https://assets.website-files.com/618da08965b16e150f4dcd59/618da0e69d0280193bb7cbad_MabryPro-Regular.woff")
      format("woff"),
    url("https://assets.website-files.com/618da08965b16e150f4dcd59/618da0e680cb7a4b32240ed8_MabryPro-Regular.ttf")
      format("truetype"),
    url("https://assets.website-files.com/618da08965b16e150f4dcd59/618da0e6a3cedbd962a03e70_MabryPro-Regular.svg")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.bg-widget {
  background-color: #f4f4f0;
}

.ball-1 {
  animation: ball-anim 5s cubic-bezier(0.8, 0, 0.37, 1) infinite;
  animation-delay: 0s;
}
.ball-2 {
  animation: ball-anim 5s cubic-bezier(0.8, 0, 0.37, 1) infinite;
  animation-delay: 0.05s;
}
.ball-3 {
  animation: ball-anim 5s cubic-bezier(0.8, 0, 0.37, 1) infinite;
  animation-delay: 0.1s;
}
.ball-4 {
  animation: ball-anim 5s cubic-bezier(0.8, 0, 0.37, 1) infinite;
  animation-delay: 0.15s;
}

@keyframes ball-anim {
  0% {
    left: 0;
  }
  8.33% {
    /* 200ms pause */
    left: 0;
  }
  25% {
    left: calc(100% - 8px);
  }
  33.33% {
    /* 200ms pause */
    left: calc(100% - 8px);
  }
  50% {
    left: 0;
  }
  58.33% {
    /* 200ms pause */
    left: 0;
  }
  75% {
    left: calc(100% - 8px);
  }
  83.33% {
    /* 200ms pause */
    left: calc(100% - 8px);
  }
  100% {
    left: 0;
  }
}
.helper-widget-wrapper {
  border-left: none;
}

@media (max-width: 639px) {
  .helper-widget-wrapper {
    border-left: none !important;
  }
}

@media (min-width: 640px) {
  .responsive-chat {
    margin: 0 auto;
  }
  .helper-widget-wrapper {
    border-left: 1px solid black;
  }
}
