.bg-widget {
  background-color: #f4f4f0;
}

.ball-1 {
  animation: ball-anim 5s cubic-bezier(0.8, 0, 0.37, 1) infinite;
  animation-delay: 0s;
}
.ball-2 {
  animation: ball-anim 5s cubic-bezier(0.8, 0, 0.37, 1) infinite;
  animation-delay: 0.05s;
}
.ball-3 {
  animation: ball-anim 5s cubic-bezier(0.8, 0, 0.37, 1) infinite;
  animation-delay: 0.1s;
}
.ball-4 {
  animation: ball-anim 5s cubic-bezier(0.8, 0, 0.37, 1) infinite;
  animation-delay: 0.15s;
}

@keyframes ball-anim {
  0% {
    left: 0;
  }
  8.33% {
    /* 200ms pause */
    left: 0;
  }
  25% {
    left: calc(100% - 8px);
  }
  33.33% {
    /* 200ms pause */
    left: calc(100% - 8px);
  }
  50% {
    left: 0;
  }
  58.33% {
    /* 200ms pause */
    left: 0;
  }
  75% {
    left: calc(100% - 8px);
  }
  83.33% {
    /* 200ms pause */
    left: calc(100% - 8px);
  }
  100% {
    left: 0;
  }
}
.helper-widget-wrapper {
  border-left: none;
}

@media (max-width: 639px) {
  .helper-widget-wrapper {
    border-left: none !important;
  }
}

@media (min-width: 640px) {
  .responsive-chat {
    margin: 0 auto;
  }
  .helper-widget-wrapper {
    border-left: 1px solid black;
  }
}
