@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --sidebar-width: 20rem; /* Sidebar width */
    --sidebar-width-mobile: 60%; /* Mobile sidebar width */
    --sidebar-background: 0 69% 17%; /* Sidebar background color */
    --sidebar-foreground: 0 0% 100%; /* Sidebar text color */
    --sidebar-primary: 0 69% 17%; /* Sidebar primary color */
    --sidebar-primary-foreground: 0 0% 100%; /* Sidebar primary text color */
    --sidebar-accent: 0 0% 100% / 10%; /* Sidebar accent color */
    --sidebar-accent-foreground: 0 0% 100%; /* Sidebar accent text color */
    --sidebar-border: 0 0% 100% / 20%; /* Sidebar border color */
    --sidebar-ring: 0 0% 100%; /* Sidebar focus ring color */
    --background: 0 0% 100%; /* Default background color of <body> */
    --foreground: 0 58% 10%; /* Default text color */
    --card: 0 0% 100%; /* Background color for <Card> */
    --card-foreground: 0 58% 10%; /* Text color for <Card> */
    --popover: 0 0% 100%; /* Background color for popovers */
    --popover-foreground: 0 58% 10%; /* Text color for popovers */
    --primary: 0 67% 17%; /* Primary colors for <Button> */
    --primary-foreground: 0 0% 100%; /* Primary text color for <Button> */
    --secondary: 42 100% 95%; /* Secondary colors for <Button> */
    --secondary-foreground: 0 58% 10%; /* Secondary text color for <Button> */
    --muted: 210 20% 98%; /* Muted backgrounds for <TabsList>, <Skeleton>, <Switch> */
    --muted-foreground: 224 8% 46%; /* Muted text color */
    --accent: 220 14% 96%; /* Used for accents like hover effects */
    --accent-foreground: 0 58% 10%; /* Text color for accent elements */
    --destructive: 17 88% 40%; /* Used for destructive actions */
    --destructive-foreground: 0 0% 100%; /* Text color for destructive elements */
    --success: 142 72% 29%; /* Used for success states */
    --success-foreground: 0 0% 100%; /* Text color for success elements */
    --border: 218 10% 84%; /* Default border color */
    --input: 218 10% 84%; /* Border color for inputs */
    --ring: 218 10% 84%; /* Used for focus ring */
    --chart-1: 12 76% 61%; /* Chart color 1 */
    --chart-2: 173 58% 39%; /* Chart color 2 */
    --chart-3: 197 37% 24%; /* Chart color 3 */
    --chart-4: 43 74% 66%; /* Chart color 4 */
    --chart-5: 27 87% 67%; /* Chart color 5 */
    --radius: 0.5rem; /* Border radius */
    --bright: 41 99% 55%; /* Pop of bright color */
    --bright-foreground: 0 58% 10%; /* Text on top of pop of bright color */
    --syntax-plain: #24292e;
    --syntax-comment: #6a737d;
    --syntax-keyword: #d73a49;
    --syntax-function: #6f42c1;
    --syntax-string: #032f62;
    --syntax-number: #005cc5;
    --chart-open: 1 75% 17%;
    --chart-closed-manual: 45 99% 55%;
    --chart-closed-ai: 73 58% 56%;
    --chart-negative: 17 88% 40%; /* Same as light mode destructive */
  }

  .dark {
    --sidebar-width: 20rem; /* Sidebar width */
    --sidebar-width-mobile: 90%; /* Mobile sidebar width */
    --sidebar-background: 0 69% 10%; /* Updated to match #290B0A */
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 69% 10%; /* Updated to match sidebar background */
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 100% / 10%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 100% / 20%;
    --sidebar-ring: 0 0% 100%;
    --background: 0 58% 10%; /* Default background color of <body> */
    --foreground: 0 0% 100%; /* Default text color */
    --card: 0 58% 10%; /* Background color for <Card> */
    --card-foreground: 0 0% 100%; /* Text color for <Card> */
    --popover: 0 58% 10%; /* Background color for popovers */
    --popover-foreground: 0 0% 100%; /* Text color for popovers */
    --primary: 0 0% 100%; /* Primary colors for <Button> */
    --primary-foreground: 0 58% 10%; /* Primary text color for <Button> */
    --secondary: 0 0% 100% / 10%; /* Secondary colors for <Button> */
    --secondary-foreground: 0 58% 10%; /* Secondary text color for <Button> */
    --muted: 0 0% 100% / 10%; /* Muted backgrounds for <TabsList>, <Skeleton>, <Switch> */
    --muted-foreground: 0 0% 100% / 70%; /* Muted text color */
    --accent: 0 0% 100% / 10%; /* Used for accents like hover effects */
    --accent-foreground: 0 0% 100%; /* Text color for accent elements */
    --destructive: 0 84% 65%; /* Used for destructive actions */
    --destructive-foreground: 0 0% 100%; /* Text color for destructive elements */
    --success: 142 72% 29%; /* Used for success states */
    --success-foreground: 0 0% 100%; /* Text color for success elements */
    --border: 0 0% 100% / 20%; /* Default border color */
    --input: 0 0% 100% / 20%; /* Border color for inputs */
    --ring: 0 0% 100% / 20%; /* Used for focus ring */
    --chart-1: 12 76% 41%; /* Chart color 1 */
    --chart-2: 173 58% 29%; /* Chart color 2 */
    --chart-3: 197 37% 14%; /* Chart color 3 */
    --chart-4: 43 74% 46%; /* Chart color 4 */
    --chart-5: 27 87% 47%; /* Chart color 5 */
    --radius: 0.5rem; /* Border radius */
    --bright: 41 99% 55%; /* Pop of bright color */
    --bright-foreground: 0 58% 10%; /* Text on top of pop of bright color */
    --syntax-plain: #d4d4d4;
    --syntax-comment: #6a9955;
    --syntax-keyword: #569cd6;
    --syntax-function: #dcdcaa;
    --syntax-string: #ce9178;
    --syntax-number: #9cdcfe;
    --chart-open: 17 90% 49%; /* Slightly lighter in dark mode for better visibility */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
