.link-cta {
  display: inline-block;
  animation: jittery 3s infinite;
  color: black;
}

@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-4deg);
  }
  25% {
    transform: scale(1.15) rotate(4deg);
  }
  30% {
    transform: scale(1.15) rotate(-2deg);
  }
  35% {
    transform: scale(1.15) rotate(1deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
