@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
  --sidebar-background: hsl(0 69% 17%); /* Sidebar background color */
  --sidebar-foreground: hsl(0 0% 100%); /* Sidebar text color */
  --sidebar-primary: hsl(0 69% 17%); /* Sidebar primary color */
  --sidebar-primary-foreground: hsl(0 0% 100%); /* Sidebar primary text color */
  --sidebar-accent: hsl(0 0% 100% / 10%); /* Sidebar accent color */
  --sidebar-accent-foreground: hsl(0 0% 100%); /* Sidebar accent text color */
  --sidebar-border: hsl(0 0% 100% / 20%); /* Sidebar border color */
  --sidebar-ring: hsl(0 0% 100%); /* Sidebar focus ring color */
  --background: hsl(0 0% 98%); /* Default background color of <body> */
  --foreground: hsl(0 58% 10%); /* Default text color */
  --card: hsl(0 0% 100%); /* Background color for <Card> */
  --card-foreground: hsl(0 58% 10%); /* Text color for <Card> */
  --popover: hsl(0 0% 100%); /* Background color for popovers */
  --popover-foreground: hsl(0 58% 10%); /* Text color for popovers */
  --primary: hsl(0 67% 17%); /* Primary colors for <Button> */
  --primary-foreground: hsl(0 0% 100%); /* Primary text color for <Button> */
  --secondary: hsl(42 100% 95%); /* Secondary colors for <Button> */
  --secondary-foreground: hsl(0 58% 10%); /* Secondary text color for <Button> */
  --muted: hsl(210 20% 98%); /* Muted backgrounds for <TabsList>, <Skeleton>, <Switch> */
  --muted-foreground: hsl(224 8% 46%); /* Muted text color */
  --accent: hsl(220 14% 96%); /* Used for accents like hover effects */
  --accent-foreground: hsl(0 58% 10%); /* Text color for accent elements */
  --destructive: hsl(17 88% 40%); /* Used for destructive actions */
  --destructive-foreground: hsl(0 0% 100%); /* Text color for destructive elements */
  --success: hsl(142 72% 29%); /* Used for success states */
  --success-foreground: hsl(0 0% 100%); /* Text color for success elements */
  --border: hsl(218 10% 84%); /* Default border color */
  --input: hsl(218 10% 84%); /* Border color for inputs */
  --ring: hsl(218 10% 84%); /* Used for focus ring */
  --chart-1: hsl(12 76% 61%); /* Chart color 1 */
  --chart-2: hsl(173 58% 39%); /* Chart color 2 */
  --chart-3: hsl(197 37% 24%); /* Chart color 3 */
  --chart-4: hsl(43 74% 66%); /* Chart color 4 */
  --chart-5: hsl(27 87% 67%); /* Chart color 5 */
  --radius: 0.5rem; /* Border radius */
  --bright: hsl(41 99% 55%); /* Pop of bright color */
  --bright-foreground: hsl(0 58% 10%); /* Text on top of pop of bright color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --sidebar-background: hsl(0 69% 10%); /* Updated to match #290B0A */
    --sidebar-foreground: hsl(0 0% 100%);
    --sidebar-primary: hsl(0 69% 10%); /* Updated to match sidebar background */
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(0 0% 100% / 10%);
    --sidebar-accent-foreground: hsl(0 0% 100%);
    --sidebar-border: hsl(0 0% 100% / 20%);
    --sidebar-ring: hsl(0 0% 100%);
    --background: hsl(0 58% 10%); /* Default background color of <body> */
    --foreground: hsl(0 0% 100%); /* Default text color */
    --card: hsl(0 58% 10%); /* Background color for <Card> */
    --card-foreground: hsl(0 0% 100%); /* Text color for <Card> */
    --popover: hsl(0 58% 10%); /* Background color for popovers */
    --popover-foreground: hsl(0 0% 100%); /* Text color for popovers */
    --primary: hsl(0 0% 100%); /* Primary colors for <Button> */
    --primary-foreground: hsl(0 58% 10%); /* Primary text color for <Button> */
    --secondary: hsl(0 0% 100% / 10%); /* Secondary colors for <Button> */
    --secondary-foreground: hsl(0 58% 10%); /* Secondary text color for <Button> */
    --muted: hsl(0 0% 100% / 10%); /* Muted backgrounds for <TabsList>, <Skeleton>, <Switch> */
    --muted-foreground: hsl(0 0% 100% / 70%); /* Muted text color */
    --accent: hsl(0 0% 100% / 10%); /* Used for accents like hover effects */
    --accent-foreground: hsl(0 0% 100%); /* Text color for accent elements */
    --destructive: hsl(0 84% 40%); /* Used for destructive actions */
    --destructive-foreground: hsl(0 0% 100%); /* Text color for destructive elements */
    --success: hsl(142 72% 29%); /* Used for success states */
    --success-foreground: hsl(0 0% 100%); /* Text color for success elements */
    --border: hsl(0 0% 100% / 6%); /* Default border color */
    --input: hsl(0 0% 100% / 20%); /* Border color for inputs */
    --ring: hsl(0 0% 100% / 20%); /* Used for focus ring */
    --chart-1: hsl(12 76% 41%); /* Chart color 1 */
    --chart-2: hsl(173 58% 29%); /* Chart color 2 */
    --chart-3: hsl(197 37% 14%); /* Chart color 3 */
    --chart-4: hsl(43 74% 46%); /* Chart color 4 */
    --chart-5: hsl(27 87% 47%); /* Chart color 5 */
    --radius: 0.5rem; /* Border radius */
    --bright: hsl(41 99% 55%); /* Pop of bright color */
    --bright-foreground: hsl(0 58% 10%); /* Text on top of pop of bright color */
  }
}
